<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

<!-- La slider -->

    <!-- On détermine les images -->
    <div id="carrousel">
        <ul>
            <li><img src="https://www.whats4eats.com/files/course-sandwiches-panino-flickr-stevendepolo-Steven-Depolo-3790018011-4x3.jpg" height="600" width="800" /></li>
    	<li><img src="https://img-3.journaldesfemmes.fr/1mYG98nKM5-G2DrR7FdM7dW5u4o=/750x/smart/977d35a2e13b4a8eab81bb4c655d6581/recipe-jdf/375033.jpg" height="600" width="800" /></li>
    	<li><img src="https://www.soscuisine.com/media/images/recettes/very_large/1373.jpg" height="600" width="800" /></li>
        </ul>
    </div>

    <!-- Boutons précédent et suivant -->
    <div>
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

<!-- Tabs de 3 onglets -->
    <div class="tabulation">

      <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1">Présentation</li>
        <li class="tab-link" data-tab="tab-2">Menu</li>
        <li class="tab-link" data-tab="tab-3">Devenir investisseur</li>
      </ul>

      <div id="tab-1" class="tab-content current">
        <h3>Ceci est une révolution</h3>
        <p>Vous aimez le pain ? Vous aimez la viande ? Vous aimez la sauce ? On inventé un produit 3 en 1 qui réunit toutes ces fonctionnalités : LE SANDWICH</p>
      </div>
      <div id="tab-2" class="tab-content">
        <h3>Le sandwich à la viande</h3>
        <p>Vous avez de la pâte ? Vous avez de la viande ? Avec la pâte, vous faites du pain et vous mettez de la viande dedans !</p>
      </div>
      <div id="tab-3" class="tab-content">
        <h3> Si t'as pas 5 briques passes ton chemin</h3>
        <p>Victimes du succès de notre incroyable innovation, nous n'acceptons pas les levés de fonds en dessous de 5 millions.</p>
      </div>

    </div>

  </body>
</html>
